header{
    background-color:white;
    text-align: center;
    max-width: 1000px;
    margin:auto;
    margin-bottom: 10px ;
    height: 50px;
    
}

body { 
    font-family: 'Lobster', cursive;
    color:black;
    font-size:35px;
    background-image:url(QUIZ_Sur-les-routes-americaines_5006.jpeg);
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size: 100%;
   
    
}

main {
    background-color: white;
    text-align: center;
    max-width: 1000px;
    margin:auto;
    margin-bottom: 50px;
}

main p { 
    font-size:25px;
    color:black;
}

footer {
    background-color: white;
    text-align: center;
    max-width: 1000px;
    margin: auto;

    bottom: 0px;
    left:25px;
    right:25px;
}



#navigation a {
    padding: 4px 10px; 
    font-weight: bold;
    text-decoration: none;
    color: red;
}

#navigation a:hover, #navigation a:focus {
    text-decoration: underline;
    color: black;
}

#navigation #en-cours a {
    background-color: #91BD09;
    color: black;
}

#taille {
 height: 7.65px;   
    
}
